@model TaskManagement.Models.ViewModels.CreateTaskViewModel

@{
    ViewData["Title"] = "Create";
}

<a class="button-back" asp-controller="Projects" asp-action="Index"><i class="fas fa-chevron-left"></i><span>Go back</span></a>

<h2 class="main-title">Create</h2>
<h4 class="main-title">Task</h4>
<hr />
<form asp-action="Create" class="taskman-form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Task.TaskName" class="control-label"></label>
        <input asp-for="Task.TaskName" class="form-input" />
        <span asp-validation-for="Task.TaskName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Task.TaskDescription" class="control-label"></label>
        <textarea asp-for="Task.TaskDescription" class="form-input"></textarea>
        <span asp-validation-for="Task.TaskDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="J_Acc_T.AccountId" class="control-label">Assignee</label>
        <select asp-for="J_Acc_T.AccountId" name="AccountId" class="form-input" asp-items="ViewBag.AccountsToChooseFrom"></select>
    </div>
    @*<div class="form-group">
            <label asp-for="Task.TaskTaskStateId" class="control-label"></label>
            <select asp-for="Task.TaskTaskStateId" class="form-input" asp-items="ViewBag.TaskList"></select>
        </div>*@
    <div class="form-group">
        <input type="hidden" name="ProjectID" value="@ViewBag.ProjectID" />
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="form-input submit" />
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
