.error-box {
    color: red;
    padding: 10px;
}

.deletion-notification {
    background-color: rgba(255, 255, 255, 70%);
    color: $ms-blue;
    padding: 30px;
    border-radius: 20px;
    width: 50%;
    animation: appear-to-right 0.5s;
}

.error-shake {
    animation: shake 0.2s;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

.error-bounce {
    animation: bounce 0.4s;
    animation-direction: alternate;
    animation-iteration-count: 4;
}

@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(0, -50px, 0);
    }
}

@keyframes shake {
    0% {
        transform: translate3d(0, 0, 0);
    }

    33% {
        transform: translate3d(-20px, 0, 0);
    }

    66% {
        transform: translate3d(20px, 0, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes appear-to-right {
    from {
        transform: translate(-100px, 0);
        visibility: hidden;
    }

    to {
        transform: translate(0, 0);
        visibility: initial;
    }
}

@keyframes backLeft {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(-15px, 0);
    }
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 600px) {
    .deletion-notification {
        width: 100%;
    }
}
