@model CommentCreateViewModel

@if (ViewBag.errorMessage != null)
{
    <div class="error-box error-shake">@ViewBag.errorMessage</div>
}
<form class="comment-form" asp-controller="Comment" asp-action="Create" asp-route-on="@Model.CommentOn" asp-route-id="@Model.ID">
<textarea class="form-control form-input"
          type="text" name="CommentText"
          style="resize: none;"
          placeholder="Leave a comment...">
</textarea>
    <input class="form-input submit" type="submit" value="Post" />
</form>
