
.comments-list {
    list-style: none;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;

    .comments-list__item {
        display: flex;
        align-items: center;
        align-content: flex-start;
        flex-direction: row;

        .comment-delete {
            color: $ms-blue;
            margin: 3px;
            font-size: 10pt;
            padding: 5px;

            &:hover {
                color: black;
                transition: 0.3s ease-out;
            }
        }

        .person-info {
            flex-basis: 90px;
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 0.8em;
            color: white;

            .person-image {
                background-color: white;
                width: 40px;
                height: 40px;
                object-fit: contain;
                border-radius: 50%;
            }
        }

        .comment-details {
            min-height: 45px;
            flex-basis: 78%;
            background-color: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255,255,255,0.3);
            padding: 5px;
            font-size: 0.8em;
            border-radius: 10px;
            color: white;
        }
    }
}
